<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</head>
<body>
    <div class="row">
      <div class="col-xs-6 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <h1>Your results!</h1>
        <h2>You got {{correctAnswers}} correct!<h2>
        <p>You got question one {{userAnswer1}}</p>
        <p>You got question two {{userAnswer2}}</p>
        <p>You got question three {{userAnswer3}}</p>
        <p>You got question four {{userAnswer4}}</p>
        <p>You got question five {{userAnswer5}}</p>
        <a href="http://localhost:3000/"> Play again </a>
      </div>
      <div class="col-xs-6 col-md-4"></div>
  </body>
</html>
