<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-6 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <p>String passed: {{userAnswer}}</p>
        <a href="http://localhost:3000/"> Play again </a>
      </div>
      <div class="col-xs-6 col-md-4"></div>
  </body>
</html>
