<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1>Welcome To A Rap Lyrics Guessing Game</h1>
    <form action="/getArtist" method="post">
      <label form="POST-name" type="text" name="Enter Artist!"></label>
      <input id="POST-name" type="text" name="artist">
      <input type="submit" value="Play!">
    </form>
    <ul>
      {% for artist in artists %}
      <li{% if loop.first %} class="first"{% endif %}>
        {{ artist }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
