<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/spin.js"></script>
<script src="js/jquery.spin.js"></script>
<script src="js/index.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mefuru Studios Ltd</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="services.html">SERVICES</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div class=" headerwrap container">
<div class="row">
      <div class="col-xs-6 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <h1>How well do you know your favourite rapper's lyrics?</h1>
        <h5>"The dumb are mostly intrigued by the drum" - Wu-tang</h5>
        <form action="/getArtist" method="post">
          <br>
          <select id="artist" class="lead" name="artist">
            {% for artistAndAlbum in artistsAndAlbums %}
            <option>
              {{ artistAndAlbum.artist }}
</br>
            </option>
            {% endfor %}
          </select>
          {% for artistAndAlbum in artistsAndAlbums %}
          {% if loop.first %}
          <select id="albums" class="lead" name="album">
            <option>All</option>
            {% for album in artistAndAlbum.albums %}
            <option>
              {{ album }}
            </option>
            {% endfor %}
          </select>
          {% endif %}
          {% endfor %}
          <button type="submit">Play!</button>
        </form>
        <h1>Add an artist</h1>
        <div>
          <div id="spinner"></div>
          <label form="POST-name" type="text" name="Add an Artist!"></label>
          <input id="POST-name" type="text" name="artist">
          <input id="add-artist-btn" type="submit" value="Add artist!">
        </div>
        <h6>Scraping a new artist may take some time, this page will refresh on completion</h6>
      </div>
      <div class="col-xs-6 col-md-4"></div>
    </div>
</div>
  </body>
</html>
