<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-6 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <p>Not enough songs available for this artist and album selection</p>
      </div>
      <div class="col-xs-6 col-md-4"></div>
  </body>
</html>
<!-- Make the form return something. Get answer from server. Save to DB -->
